@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Moon+Dance&family=Mulish:wght@300;400;800&family=Roboto:wght@100;300;400;800&display=swap');

.new-task {
  padding-top: 19px;
  padding-left: 16px;
}
.new-task__title {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  color: #06350D;
  margin-left: 21px;
}
.task {
  background-color: #fff;
  width: 80%;
  /* height: 720px; */
  margin-top: 18px;
  -webkit-box-shadow: 0px -4px 12px -3px rgba(34, 60, 80, 0.36);
  -moz-box-shadow: 0px -4px 12px -3px rgba(34, 60, 80, 0.36);
  box-shadow: 0px -4px 12px -3px rgba(34, 60, 80, 0.36);
  padding-left: 67px;
}

.form-name {
  width: 90%;
  border: 0;
  height: 33px;
  margin-top: 55px;
  padding-left: 20px;
  border-bottom: 1px solid #C4C4C4;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 28px;
  line-height: 33px;
  color: #000;
  outline: none;
}

.form-name::placeholder {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 28px;
  line-height: 33px;
  color: #918686;
}

.form__div {
  margin-top: 55px;
  padding-bottom: 20px;
  padding-left: 20px;
  /* border-bottom: 2px solid #918686; */
  width: 90%;
  height: 30px;
}

.label {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #696666;
}

.form-inCharge {
  padding-left: 10px;
  margin-left: 53px;
  width: 284px;
  height: 42px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #000;
  outline: none;
}

.form-inCharge::placeholder {
  color: #696666;
}

.form__inCharge-btn {
  width: 245px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #696666;
  background: #E3F2EC;
  border: 0;
  border-radius: 3px;
  align-items: center;
  margin: 0px 10px;
  padding: 10px 17px;
  cursor: pointer;
}

.form__inCharge-btn:hover {
  background: #8FDBD1;
}

.form__inCharge-btn:active {
  background: #E3F2EC;
  color: #3E3B3B;
}


.deadline {
  margin-left: 31px !important;
}

.stages {
  margin-left: 24px !important;
}

.form-result {
  margin-left: 95px;
  width: 18px;
  height: 18px;
}

.label-result {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #696666;
  margin-left: 10px;
}

.new-task__btn {
  width: 233px;
  height: 61px;
  background: #DBFBCC;
  border-radius: 5px;
  border: 0;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #06350D;
  cursor: pointer;
  margin: 40px 0 40px 20px;
}

.new-task__btn:hover {
  background: #C1F9A7;
}

.new-task__btn:active {
  background: #EBFAE4;
  border: 1px solid #16421C;
}